body{
    background: linear-gradient(to bottom left, #33ccff 35%, #cc33ff 78%);
    height: 100vh;
}

.button {
    font-size: 1.5em;
}

#title {
    font-family: 'Calibri', cursive;
    font-size: 40px;
    margin-left: 35px;
    margin-top: 40px;
}

#turn {
    background: #330000;
    color: red;
    height: 30px;
    width: 50px;
    margin-left: 2vw;
}

.start {
    margin-left: 40%;
}

.level {
    margin-left: 2vw;
}

.controls {
    margin-top: 2vw;
    margin-left: 18vw;
}

.boxes {
    margin-top: 3%;
    margin-left: 20%;
    border: black;
}

.boxe div {
    padding: 0.2vw;
    margin: 0.2vw;
    border-radius: 5%;
}


#top1 {
    height: 9vw;
    width: 10vw;
    background: darkblue;
}

#top2 {
    height: 9vw;
    width: 10vw;
    background: darkblue;
}

#top3 {
    height: 9vw;
    width: 10vw;
    background: darkblue;
}

#bottom1 {
    height: 9vw;
    width: 10vw;
    background: darkblue;
}

#bottom2 {
    height: 9vw;
    width: 10vw;
    background: darkblue;
}

#bottom3 {
    height: 9vw;
    width: 10vw;
    background: darkblue;
}

#b-bottom1 {
    height: 9vw;
    width: 10vw;
    background: darkblue;
}

#b-bottom2 {
    height: 9vw;
    width: 10vw;
    background: darkblue;
}

#b-bottom3 {
    height: 9vw;
    width: 10vw;
    background: darkblue;
}

#control-center {
    align-items: end;
    background: lightblue;
    height: 250px;
    width: 100%;
    border-style: dashed;
    border-width: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}