@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}
/* header */
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle
{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
 @media only screen and (max-width: 600px) {
.glass {
  width: 100% !important;
}
}
.glass {
  display: flex;
  margin-right:30%;
  width: 60%;
  padding: 100px;
  height: 100vh;
  backdrop-filter: blur(9px);    
  border-radius: 10px;
  border: 1p solid rgba(255,255,255,0.15);
  background:linear-gradient(rgba(17, 17, 139, 0.12),rgba(125, 126, 199, 0.45));
}
.showcase
{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:url(../images/wall1.jpg);
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}
.logo {
  margin-right: 2%;
  margin-top: none;
  font-size: 18px;
  padding: 0.5%;
}
.text
{
  position: relative;
  z-index: 10;
}
.text h3
{
  font-size: 75px;
  line-height: 75px;
  font-family: "segoe UI",sans-serif;
  color: #fff;

}
.text p
{
  color:rgb(112, 151, 224) ;
  margin: 3rem 0;
  font-size: 20px;
  width: 79%;
  font-family: "segoe UI",sans-serif ;
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 20px;
  }
  .text h2
  {
    font-size: 2em;
  }
  .text h3
  {
    font-size: 2em;
  }
}
button{
     padding: 12px 40px;
     margin-left:10% ;
     margin-top: 10%;
     background: transparent;
     text-transform: uppercase;
     color:white;
     border: 0px solid white;
     border-radius: 12px;
     width: 65%;
     cursor: pointer;
     backdrop-filter: blur(4px);
     
} 
.section-1 {
  padding: 3vmin 0vmin;
}
  .section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 110%;
    margin-top: 10%;
    border-radius: 0.2em;
  }
  .section-1 .row .col-md-6:last-child {
    position: relative;
  }
  .section-1 .row .col-md-6 .panel {
    position: relative;
    top: 15vmin;
    left: -8vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    width: 120%;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
  }
  .section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
  }
  
  .section-1 .row .col-md-6 .panel p {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
  }
  
  /*  Section 2  */
  
  .cover {
    width: 100%;
    height: 55vmin;
    margin-top:6%;
    background: url("../images/wall.jpg");
    background-size: 150%;
  }
  .cover .content {
    width: 100%;
    height: 100%;
    background:linear-gradient(rgba(240, 117, 234, 0.12),rgba(231, 74, 163, 0.45));
    padding-top: 5vmin;
    text-align: center;
  }
  
  .cover .content > h1 {
    font-size: 6vmin;
    color: whitesmoke;
  }
  
  .cover .content > p {
    font-size: 3vmin;
    color: #e5e5e5;
  }
  
.rect {
    z-index: 1;
    background: rgb(234, 237, 240);
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(92, 24, 92, 0.349);
  }
  
.numbers {
    margin-top: -8vmin;
  }
.numbers .rect > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4vmin;
}
    
  /* Section Team */
  .section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 12vmin;
    margin-top: 1%;
  }
  
  .section-4 .team {
    padding: 10vmin 4vmin;
    margin-top: 0%;

  }
  .section-4 .card {
    width: 80%;
  }
  
  .section-4 .card .card-text {
    padding: 0.5em;
  }
  
  .section-4 .card-body > a {
    font-size: 2em;
  }
  .section-4 .carousel-item {
    padding-left: 3rem;
  }
  .text {
    color: rgb(167, 109, 33);
    
  }
   /* footer */
   footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 10vmin 18vmin;
  }
  
  footer p > span {
    color: #ff512f;
  }
  
  footer input {
    border: none !important;
  }
  
  footer input::placeholder {
    color: white !important;
  }
  
  footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
  }
  
  footer .column i {
    color: #dedceb;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
  }
  